
@{
    ViewData["Title"] = "Login page";
}
<div class="text-center">
    <h1>Hello There</h1>
    <p>Remind me who you are?</p>

    <div class="card">

        <div class="card-body">
            <form asp-action="LoginUser" method="post" class="text-center  d-flex column d-flex flex-column align-items-center">
                <label for="username">
                    Name:
                    <input type="text" class="form-control-sm" id="Username" name="UserName" required />
                </label>

                <label for="age">
                    Age:
                    <input type="number" name="UserAge" id="Age" class="form-control-sm" required />
                </label>

                <label for="emailaddress">
                    Email Address:
                    <input type="email" id="emailaddress" name="EmailAddress" class="form-control-sm" required />
                </label>

                <label for="password">
                    Password:
                    <input type="password" id="password" name="Password" class="form-control-sm" required />
                </label>


                @if (ViewData["Opps"] != null)
                {
                    <span class="alert my-2 alert-danger">@ViewData["Opps"]</span>
                }


                <button type="submit" class="btn mt-3 btn-primary">Login</button>

            </form>


        </div>

    </div>


    <p>Back to <a asp-action="Index">Registration</a>.</p>


</div>
