
@{
    ViewData["Title"] = "Welcome";
}

<div class="">
    <p>Hey there! Nice to meet you.</p>
    <p>Am Zfronk.</p>

    <a asp-action="LoginPage" class="btn btn-outline-primary">Login Here!</a>

</div>

